body{
    font-family: Helvetica, Arial, sans-serif;
}
.logo{
    font-weight:bold;
    color: rgba(255, 255, 255, .1);
    font-family: Arial;
}
.logo:hover{
    color:#ccc;
}

.dark{
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.nav-item{
    margin-left:5px;
    font-weight:bold;
    font-size:12px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, .1);
}

.nav-item:hover{
    color: #ccc;
}

#importModal .modal-title{
    font-weight:bold;
    color: #ccc;
}

form{
    margin:0;
    padding:0;
}

.authtitle{
    color: #dadada;
    font-weight: bold;
    font-size: 18px;
}

.filter_select{
width:300px;
}

.select2-container{
    padding-left: 7px;
    color:#777;
    font-weight:bold;

}
.select2-dropdown.select2-dropdown--below{
    margin-left:7px;

}
.nav-link{
    padding:10px;
}

.center_text{
    text-align:center;
}

.search_result{
    display:inline-block;
    position:relative;
    cursor:pointer;
    margin-bottom:10px;
    font-size: 11px;
    text-align: center;
    horizontal-align: center;
    color:#000;
    border:#f7f7f7 1px solid;
}

.search_result a{
    color:#000;
}

.price{
    position:absolute;
    bottom: 0 ;
    right: 5px;
    padding:10px;
    font-weight: bold;

}

.store_name{
    position:absolute;
    bottom: 0 ;
    left: 5px;
    padding:10px;
    font-weight: bold;
}

.footer{
    width:100%;
    background:#fff;
    opacity:0.8;
    padding:5px;
    position: absolute;
    bottom: 0;
    height: 35px;
    color:#000;
    font-size:10px;
}


.search_title{
    position:absolute;
    top: 0 ;
    left: 5px;
    background: #fff;
    opacity: 0.8;
    padding:5px;
    font-weight: bold;

    font-size:10px;
    width:100%;
}

#content{
    text-align:center;
    margin-top: 100px;
}
#filters{
    height:100%;
    min-width:10%;
    background:#343a40;
    float:left;
}

.default_title{
    font-weight:bold;
    font-size:12px;
}

.content_header{
    color:#ccc;
    font-size:16px;
    font-weight:bold;
    padding:10px;
}

.content_promo{
    color:#777;
    font-size:20px;
    font-weight:bold;
    padding:10px;
}

.category_heading{
    text-align: left;
    font-weight:bold;
    color:#ccc;
    padding-left:20px;
    font-size:18px;
}
/*dashboard.css*/
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #343a40;
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

