{% for default in defaults %}

<div class="search_result" title="" info="">
    <a target="" href="">
        <div class="footer default_title">
            {{ default.title }}  ({{default.product_count}})

        </div>
        <img width="205" height="205" class="search_image" src="{{ default.src }}" />
    </a>
</div>

{% endfor %}