{% for product in products %}

<div class="search_result" title="{{ product.domain }} - {{ product.product_title }}" info="{{ product.html }}">
    <a target="_blank" href="http://{{ product.linked_url }}">

        <div class="search_title">
        {{ product.product_title|length > 30 ? product.product_title|slice(0, 30) ~ '...' : product.product_title  }}
    </div>

    <div class="footer">
        <div class="store_name">{{ product.domain }}</div>
        <div class="price">${{ product.price }}</div>
    </div>
    <img width="205" height="205" class="search_image" src="{{ product.image_src }}" />
    </a>
</div>

{% endfor %}
